/*soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('img/background2.png');
    background-size: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 12px;
    position: 100%;
  }
  
  @media (min-width:320px) {
    body {
      font-size: 14px;
      }
    
  }
    
  @media (min-width:350px) {
    body {
      font-size: 14px;
  }
    
  }
    
  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 600px) {
    body {
      background-attachment: fixed;
      background-size: cover;
      font-size: 18px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 1200px) {
    body {
     
      font-size: 20px;
    }
  }
  
  
  header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  
  
  .menu {
    background-color: rgb(240, 240, 245);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
   list-style: none; 
  }
  
  .menu a {
    color: rgb(5, 36, 5);
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
  }
  
  .menu a:active,
  .menu a:hover {
    background-color: rgb(65, 4, 121, 0.103);
    color: white;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  /*
  a:hover {
    text-decoration: underline;
  }*/
  
  .titulo {
    transform: skew(1.2);
    opacity: 0;
    animation: 1s ease 1.4s animacaoTitulo forwards;
  }
  
  @keyframes animacaoTitulo {
    from {
      transform: skew(0.2) translateY(50vh);
      opacity: 0;
    }
    to {
      transform: skew(1) translateY(0);
      opacity: 1;
    }
  }
  
  /*.site-subtitle, 
  .site-title {
    color: whitesmoke;
    text-align: center;
  }*/
  
  .site-title {
    color:rgb(245, 245, 245);
    font-size: normal;
    font-style: normal;
    text-align: center;
    
  }
  
  .site-subtitle {
    color: rgb(7, 4, 27, 0.986);
   font-style: italic;
   font-family: 'La Bella Aurore', cursive;
   line-height: 1.8em;
   text-align: center;
   
  }
  
  .sobre{
    padding: 4em;
    min-height: 100vh;
    margin-bottom: 1em;
    text-align: center;
   
   
  }
  
  .contato{
    padding: 1.5em 0 1.5em 0;
    min-height: 2vh;
    margin-bottom: 1em;
    text-align: center;
    
      
  }
  
  
  .projetos {
    padding: 4em;
    min-height: 100vh;
    text-align: center;
    margin-bottom: 2em;
    
  }
  
  
  
  @media (min-width: 1200px) {
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
  }
  
  .sobre h2,
  .contato h2,
  .projetos h2 {
    font-family: 'Special Elite', cursive;
    color: rgb(184, 184, 184);
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
  }

  .sobre2 p {
    font-family:  cursive;
    color: rgb(238, 247, 238);
    margin-bottom: 1.4em;
    text-align: justify;
    text-align: center;
  }

  
  
  
  .sobre p {
    
    color: rgb(216, 236, 252);
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
    font-family: cursive;
  }
  
@media (min-width: 250px) {
    .sobre p {
        color: rgb(238, 231, 231); 
    }
     .sobre a {
    color: rgb(5, 5, 5);
    text-decoration: underline;
  }
  
  .sobre a:hover {
    color: teal;
    text-decoration: none;
    
  }
}

@media (min-width: 670px) {
    .sobre p {
        color: rgb(232, 241, 237); 
    }
     .sobre a {
    color: rgb(10, 10, 10);
    text-decoration: underline;
  }
  
  .sobre a:hover {
    color: teal;
    text-decoration: none;
    
  }
}

    
    
  .sobre a {
    color: black;
    text-decoration: underline;
  }
  
  .sobre a:hover {
    color: teal;
    text-decoration: none;
    
  }
  
  .sobre .avatar {
    margin-left: 1em;
    margin-right: 1em;
   
  }
  
  .avatar {
    border-radius: 5vh;
    transition: transform 500ms;
    
  }
  
  .avatar:hover {
    transform: scale(1.2);
  
  }
  
  @media (min-width:320px) {
    .sobre .avatar {
      float: justify;
    }
  }
  
  @media (min-width: 450px) {
    .avatar {
      float: right;
    }
  }
  @media (min-width: 600px) {
    .sobre .avatar {
      float: right;
      
    }
  }
  
  @media (min-width: 250px) {
    .avatar {
      width: 160px;
      height: 120px;
      margin-bottom: 0.8em;
      flood-opacity: 0%;
     
    }
    
    .avatar {
      border-radius: 5vh;
      transition: transform 500ms;
      
    }
  }
  
  @media (min-width: 600px) {
    .avatar {
      width: 260px;
      height: 220px;
      margin-bottom: 0.8em;
      flood-opacity: 0%;
      margin-right: 2em;
     
    }
    
    .avatar {
      border-radius: 5vh;
      transition: transform 500ms;
      
    }
  }
  
  @media (min-width: 800px) {
    .avatar {
      width: 360px;
      height: 320px;
      margin-bottom: 0;
      flood-opacity: 0%;
      margin-right: 3em;
     
    }
    
    .avatar {
      border-radius: 5vh;
      transition: transform 500ms;
      
    }
  }
  
  .projetos .grid {
    display: grid;
    gap: 2em;
  }
  
  @media (min-width: 560px) {
    .projetos .grid {
      grid-template-columns: 240px 240px;
    }
  }
  
  @media (min-width: 880px) {
    .projetos .grid {
      grid-template-columns: repeat(3, 240px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px);
    }
  }
  
  .flip-card {
    height: 230px;
    perspective: 1000px;
  }
  
  .flip-card:hover .card {
    transform: rotateY(180deg);
  }
  
  .card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;
  }
  
  .card-front, 
  .card-back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
   
  }
  
  .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 247, 0.7);
    height: 230px;
    width: 100%;
    transform: rotateY(180deg);
    margin-top: 2em;
    
  }
  
  .projetos figure {
    text-align: center;
  }
  
  .img-projetos {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
    border-radius: 5vh;
    margin-top: 2em;
    
  }
  
  /* .img-portfolio:hover {
    transform: scale(1.2) rotate(-2deg);
  } */
  
  .contato .icons {
    text-align: center;
  }
  
  .contato a {
    color: rgb(4, 11, 20);
    font-size: 3em;
    transition: text-shadow 1s;
    text-decoration: none;
  }
  
  .contato a:active,
  .contato a:hover  {
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.904);
  }
  
  .bg-footer {
    background-color: black;
    color: white;
    padding-bottom: 0.5px;
    text-align: center;
    font-size: small;
  }
  
  
